.wrap-concurs{background-image: url(../images/form-bg.jpg); background-attachment: fixed; background-repeat: repeat-y; height: 620px; background-position: center; background-color: white; padding-top: 50px;
    .head-text{
        .title-text{max-width:720px; font-size: 34px;  font-family: "CoreRhino", sans-serif;color: rgb(9, 0, 2);  text-transform: uppercase; line-height: 1.37; text-align: left; position: relative; padding-bottom: 12px; font-weight: 400;
            &:after{content: ''; width:100px; height: 4px; border-radius: 2px; position: absolute; left: 70px; bottom: 7px; background-color: #aad9ee; box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2); animation: relsiKovz 3s ease-out infinite; animation-delay: 1s;}
            &:before{content: ''; width:100px; height: 4px; border-radius: 2px; position: absolute; left: 66px; bottom: 0; background-color: #aad9ee; box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.2);  animation: relsiKovz 3s ease-out infinite;}
        }
        .after-text{font-size: 21px; font-family: "CoreRhino", sans-serif; color: rgb(0, 1, 3);  line-height: 1.429; text-align: left; max-width: 610px; font-weight: 300; padding-top: 25px;}
    }

    .content-form-block{padding-top: 41px; width: 280px;
        .contact-form-item{ max-width: 280px; padding-bottom: 15px; margin: 0 auto;
            .form_input{width: 100%;
                input{font-size: 21px;font-family: "Calibri", sans-serif; color: rgb(167, 169, 172); border: none; outline: none;width: 100%; border-radius: 20px; height: 40px; line-height: 40px;  background-color: white; text-indent: 23px; box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.06); animation: inputPutPut 2s ease-out infinite;}
                label{display: none !important;}
                .error{box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.06), inset 0px 0px 2px 2px rgba(255,0,0,1); animation: inputPutPutError 2s ease-out infinite; transition: all 1s;}
                ::-webkit-input-placeholder {color: rgb(167, 169, 172);}
                ::-moz-placeholder          {color: rgb(167, 169, 172);}
                :-moz-placeholder           {color: rgb(167, 169, 172);}
                :-ms-input-placeholder      {color: rgb(167, 169, 172);}
            }
        }
        .buton-resnici{ position: relative; padding-top: 10px;
            .der-mish{position: absolute;}
            .der-mish-1{ top: 14px; left: -20px; animation: pulseBrow1 1s ease-out infinite;}
            .der-mish-2{ top: 29px; left: -30px; animation: pulseBrow2 1s ease-out infinite;}
            .der-mish-3{ top: 51px; left: -31px; animation: pulseBrow3 1s ease-out infinite;}
            .der-mish-4{ top: 21px; right: -33px; animation: pulseBrow4 1s ease-out infinite;}
            .der-mish-5{ top: 40px; right: -36px; animation: pulseBrow5 1s ease-out infinite;}
            .der-mish-6{ top: 58px; right: -27px; animation: pulseBrow6 1s ease-out infinite;}
        }
    }
    .conteiner{ position: relative; height: 620px;
        .fuzi{position: absolute; bottom: 50%; left: calc(50% - 111px); animation: spanding 5s ease-out infinite;}
        .vityaLove{position: absolute; bottom: 71px;right: 23px;}
        .pyatno{ position: absolute; bottom: 107px;left: -26px; z-index: -1;}
    }
}

.button{ width: 100%; border:3px solid white; border-radius: 24px; height:68px; cursor: pointer; background-color: #fff200; font-size: 27px; font-family: "Calibri", sans-serif; color: rgb(6, 0, 0); font-weight: 400; position: relative; overflow: hidden;box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.3); animation: pulseShadow 1s ease-out infinite; display: block; text-decoration: none; text-align: center; line-height: 62px;
    span{position: relative; z-index: 5;}
    &:before{ content: ''; position: absolute; top: -2px; bottom: -2px; left: -2px; right: 100%;border-radius: 24px; height:68px; background-color: #ffa800; transition: all 0.5s;}
    &:hover{
        &:before{right: -2px;}
    }
}

@keyframes spanding {
    0%  {bottom: 50%;}
    50% {bottom: 30%;}
    100%   {bottom: 50%;}
}
@keyframes relsiKovz {
    0%  {left: 0; right: calc(100% - 100px);}
    50% {left: calc(100% - 100px); right: 0;}
    100%   {left: 0; right: calc(100% - 100px);}
}
@keyframes inputPutPut {
    0%  {box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.06);}
    50% {box-shadow: 0px -7px 6px 0px rgba(0, 0, 0, 0.06);}
    100%   {box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.06);}
}
@keyframes inputPutPutError {
    0%  {box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.06), inset 0px 0px 2px 1px rgba(255,0,0,1);}
    50% {box-shadow: 0px -7px 6px 0px rgba(0, 0, 0, 0.06), inset 0px 0px 2px 1px rgba(255,0,0,1);;}
    100%   {box-shadow: 0px 7px 6px 0px rgba(0, 0, 0, 0.06), inset 0px 0px 2px 1px rgba(255,0,0,1);}
}
@keyframes pulseShadow {
    0%  {box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.3);}
    50% {box-shadow: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);}
    100%   {box-shadow: 0px 7px 16px 0px rgba(0, 0, 0, 0.3);}
}
@keyframes pulseBrow1 {
    0%  {top: 14px; left: -20px;}
    50% {top: 12px; left: -24px;}
    100%   {top: 14px; left: -20px;}
}
@keyframes pulseBrow2 {
    0%  {top: 29px; left: -30px;}
    50% {top: 29px; left: -35px;}
    100%   {top: 29px; left: -30px;}
}
@keyframes pulseBrow3 {
    0%  {top: 51px; left: -31px;}
    50% {top: 53px; left: -36px;}
    100%   {top: 51px; left: -31px;}
}
@keyframes pulseBrow4 {
    0%  {top: 21px; right: -33px;}
    50% {top: 18px; right: -38px;}
    100%   {top: 21px; right: -33px;}
}
@keyframes pulseBrow5 {
    0%  {top: 40px; right: -36px;}
    50% {top: 41px; right: -42px;}
    100%   {top: 40px; right: -36px;}
}
@keyframes pulseBrow6 {
    0%  {top: 58px; right: -27px;}
    50% {top: 62px; right: -34px;}
    100%   {top: 58px; right: -27px;}
}
@-webkit-keyframes pulseBrow1 {
    0%  {top: 14px; left: -20px;}
    50% {top: 12px; left: -26px;}
    100%   {top: 14px; left: -20px;}
}

// --------------------------------------------------------------------------------------
.title-text{font-size: 34px;  font-family: "CoreRhino", sans-serif; font-weight: 500; color: rgb(0, 2, 7); text-transform: uppercase; text-align: center; padding-bottom: 62px;}

.pay-in-wrap{ height: 650px; background-image: url(../images/phone.jpg); background-repeat: no-repeat; background-position: center bottom; background-color: white; padding-top: 74px; position: relative;
    .bir1{position: absolute;left: calc(50% + 166px); top: 284px;animation: pulsebir1 1s ease-out infinite;}
    .bir2{position: absolute;left: calc(50% + 192px);top: 260px;animation: pulsebir2 1s ease-out infinite;}
    .bir3{position: absolute;left: calc(50% + 223px);top: 256px; animation: pulsebir3 1s ease-out infinite;}


    .after-text{text-align: left; max-width: 550px; font-size: 21px; font-family: "CoreRhino", sans-serif;  color: rgb(35, 31, 32);  line-height: 30px; font-weight: 300; padding-left: 16px;     padding-bottom: 33px;}
    .block-send-to{ position: relative;padding-left: 16px;
        .texter{max-width: 315px; text-align: left; font-size: 26px; font-family: "CoreRhino", sans-serif;color: rgb(251, 29, 0); line-height: 1.154; font-weight: 500; padding-bottom: 25px;}
        .appstore{ background-image: url(../images/appstore.png); width: 250px; height: 80px; background-repeat: no-repeat; background-position: center center; display: inline-block; }
        .playmarket{background-image: url(../images/playmarket.png);width: 250px; height: 80px; background-repeat: no-repeat; background-position: center center;display: inline-block; margin-left: 20px;}
        .arrow{left: -30px; bottom: 35px;position: absolute;position: absolute;}
    }
}



@keyframes pulsebir1 {
    0%  {left: calc(50% + 162px); top: 274px;}
    50% {left: calc(50% + 166px); top: 284px;}
    100%   {left: calc(50% + 162px); top: 274px;}
}
@keyframes pulsebir2 {
    0%  {left: calc(50% + 190px);top: 250px;;}
    50% {left: calc(50% + 192px);top: 260px;}
    100%   {left: calc(50% + 190px); top: 250px;}
}
@keyframes pulsebir3 {
    0%  {left: calc(50% + 226px);top: 246px;}
    50% {left: calc(50% + 223px);top: 256px;}
    100%   {left: calc(50% + 226px);top: 246px;}
}

// --------------------------------------------------------------------------------------

.wrap-foot{ height: 120px;width: 100%; background-color: #aad9ee; padding-top: 10px;
    .flower{float: left; width: 70%; padding-left: 70px;
        p{font-size: 21px;font-family: "CoreRhino", sans-serif;color: rgb(0, 1, 3);font-weight: 300; line-height: 26px;}
        .phone{ text-decoration: none; font-size: 24px; font-family: "CoreRhino", sans-serif; color: rgb(9, 0, 2); position: relative; display: inline-block; padding-bottom: 4px; padding-top: 10px;

            &:before{content: ''; top: 100%; bottom: 0; left: 0; right: 100%; height: 1px; background-color: red; position: absolute; transition:all 0.5s; }
            &:hover{
                &:before{right: 0;}
                &:after{transform: rotate(0deg);}
            }
            &:after{content: ''; width: 40px; height: 40px; border-radius: 50%; background-color: #fff200; background-image: url(../images/phoner.png); background-position: center center; position: absolute; left: -59px; top: 2px; background-repeat: no-repeat; transform: rotate(110deg); transition: all 0.5s;}
        }
        .call-back{font-size: 21px; font-family: "CoreRhino", sans-serif; font-weight: 400;color: rgb(74, 105, 198); line-height: 1.016; text-decoration: none;  display: inline-block;}
    }
    .not-flower{float: left; width: 30%;
        .adress{font-size: 18px; font-family: "CoreRhino", sans-serif; color: rgb(9, 0, 2); line-height: 24px;position: relative; font-weight: 300;
            &:after{content: ''; width: 40px; height: 40px; border-radius: 50%; background-color: #fff200; background-image: url(../images/pointer.png); background-position: center center; position: absolute; left: -60px; top: 0; background-repeat: no-repeat;}
        }
    }
}

// --------------------------------------------------------------------------------------
.paymarket-wrap{ padding-bottom: 74px;padding-top: 100px;
    .title-text{padding-bottom: 27px;}
    .after-text{font-size: 21px; font-family: "CoreRhino", sans-serif; font-weight: 300;color: rgb(35, 31, 32);line-height: 1.429;text-align: center;}
    .conteiner{display: flex; align-items: center; justify-content: space-between; padding-bottom: 41px;
        .item{ display: block; text-decoration: none;}
    }
    .end-text{font-size: 21px; font-family: "CoreRhino", sans-serif; font-weight: 400; color: rgb(35, 31, 32); line-height: 30px; text-align: center;}
}
