/* helping adds*/

.clear{clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;}
.cfix:after{content: '';display: block;height: 0;font-size: 1px;line-height: 1px;overflow: hidden;clear: both;}
.juster{display:inline-block;width:100%;height:0;overflow:hidden;}
.jfix-after:after{content: '';display: inline-block;width: 100%;height: 0;overflow: hidden;}
.vfix{height:100%;width:0px;display:inline-block;vertical-align:middle;}
.vfix-before:before{content: '';height: 100%;width: 0;display: inline-block;vertical-align: middle;}

.hidden-block{position:absolute;left:-99999em;top:-99999em;}

/* /helping adds*/

/* base styles*/
*,*:before, *:after{box-sizing:border-box;outline:none;}

html{}
body{font-family:'CoreRhino', arial,sans-serif;background:#fff;color:#3d3d3d;position:relative;font-size: 16px;line-height: 1;}

img{vertical-align:bottom;border:0;max-width:100%;}

/* /base styles */

/* wraps styling*/

.mbox{width:1000px;position:relative;z-index:1;padding: 0 20px;left:calc(50% - 500px);}
.mbox:after{content:"";clear:both;font-size:1px;line-height:1px;height:0;overflow:hidden;display:block;}

/* /wraps styling*/



.footer{width:100%;z-index:2;overflow:hidden;}

::-webkit-input-placeholder {color:#212121;}
:-moz-placeholder {color:#212121;}
::-moz-placeholder {color:#212121;}
:-ms-input-placeholder {color:#212121;}


.section{height: auto !important;width: 100%;}
.one-bg-block{background: rgba(165,215,237,1);
background: -moz-linear-gradient(top, rgba(165,215,237,1) 0%, rgba(204,230,248,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(165,215,237,1)), color-stop(100%, rgba(204,230,248,1)));
background: -webkit-linear-gradient(top, rgba(165,215,237,1) 0%, rgba(204,230,248,1) 100%);
background: -o-linear-gradient(top, rgba(165,215,237,1) 0%, rgba(204,230,248,1) 100%);
background: -ms-linear-gradient(top, rgba(165,215,237,1) 0%, rgba(204,230,248,1) 100%);
background: linear-gradient(to bottom, rgba(165,215,237,1) 0%, rgba(204,230,248,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5d7ed', endColorstr='#cce6f8', GradientType=0 );}

.one-bg-block2{background: rgba(204,230,248,1);
background: -moz-linear-gradient(top, rgba(204,230,248,1) 0%, rgba(253,253,255,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(204,230,248,1)), color-stop(100%, rgba(253,253,255,1)));
background: -webkit-linear-gradient(top, rgba(204,230,248,1) 0%, rgba(253,253,255,1) 100%);
background: -o-linear-gradient(top, rgba(204,230,248,1) 0%, rgba(253,253,255,1) 100%);
background: -ms-linear-gradient(top, rgba(204,230,248,1) 0%, rgba(253,253,255,1) 100%);
background: linear-gradient(to bottom, rgba(204,230,248,1) 0%, rgba(253,253,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cce6f8', endColorstr='#fdfdff', GradientType=0 );
}
.one-bg-block3{
background: rgba(253,253,255,1);
background: -moz-linear-gradient(top, rgba(253,253,255,1) 0%, rgba(165,215,237,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,255,1)), color-stop(100%, rgba(165,215,237,1)));
background: -webkit-linear-gradient(top, rgba(253,253,255,1) 0%, rgba(165,215,237,1) 100%);
background: -o-linear-gradient(top, rgba(253,253,255,1) 0%, rgba(165,215,237,1) 100%);
background: -ms-linear-gradient(top, rgba(253,253,255,1) 0%, rgba(165,215,237,1) 100%);
background: linear-gradient(to bottom, rgba(253,253,255,1) 0%, rgba(165,215,237,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdff', endColorstr='#a5d7ed', GradientType=0 );
}


.two-bg-block{background: rgb(165,215,237);background: -moz-linear-gradient(top, rgba(165,215,237,1) 0%, rgba(214,235,250,1) 40%, rgba(255,255,255,1) 60%, rgba(166,215,237,1) 100%);background: -webkit-linear-gradient(top, rgba(165,215,237,1) 0%,rgba(214,235,250,1) 40%,rgba(255,255,255,1) 60%,rgba(166,215,237,1) 100%);background: linear-gradient(to bottom, rgba(165,215,237,1) 0%,rgba(214,235,250,1) 40%,rgba(255,255,255,1) 60%,rgba(166,215,237,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a5d7ed', endColorstr='#a6d7ed',GradientType=0 );}

/*End Layout*/