<section id="concurs">
    <div class="wrap-concurs">
        <div class="mbox">
            <div class="conteiner menu">

                <div class="fuzi" data-menuanchor="1">
                    <a href="#1">
                        <img src="images/fuzi.png" alt="">
                    </a>
                </div>

                <div class="vityaLove">
                    <img src="images/vityaLove.png" alt="">
                </div>

                <div class="pyatno">
                    <img src="images/pyatno.png" alt="">
                </div>



                <div class="head-text">
                    <div class="title-text">
                        <h2>Хотите принять участие в конкурсе  на 5 000 рублей?</h2>
                    </div>
                    <div class="after-text">
                        <h5> Оставьте свою почту и телефон – мы сообщим об условиях конкурса и расскажем обо всех акциях,скидках и предложениях от iMamochki.ru</h5>
                    </div>
                </div>

                <div class="content-form-block">
                     <form action="ajax.php" name="akcii-form" class="akcii-form">
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="text" name="contact_tel" value="" required="required" placeholder="Телефон" class="tel-mask">
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-item">
                                <div class="contact-form-item-input form_row">
                                    <div class="form_input">
                                        <input type="email" name="contact_email" value="" required="required" placeholder="E-mail" >
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-row cfix">
                            <div class="contact-form-item buton-resnici">
                                <div class="der-mish-1 der-mish">
                                    <img src="images/der-1.png" alt="">
                                </div>
                                <div class="der-mish-2 der-mish">
                                    <img src="images/der-2.png" alt="">
                                </div>
                                <div class="der-mish-3 der-mish">
                                    <img src="images/der-3.png" alt="">
                                </div>
                                <div class="der-mish-4 der-mish">
                                    <img src="images/der-4.png" alt="">
                                </div>
                                <div class="der-mish-5 der-mish">
                                    <img src="images/der-5.png" alt="">
                                </div>
                                <div class="der-mish-6 der-mish">
                                    <img src="images/der-6.png" alt="">
                                </div>
                                <button type="submit" class="contact-submit button">
                                    <span>Хочу быть в курсе</span>
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</section>