<section id="farytale" class="farytale">

    <div class="mbox">

        <div class="farytale-title">сказка о потеряном времени</div>

        <div class="farytale-top">
            <div class="farytale-text-row">
                <div class="farytale-text">
                    <p>Как часто вы ходите по магазинам? Каждый день.</p>
                    <p>Даже если вы тратите на это всего <img src="images/30min.png" alt="" /> минут,</p>
                </div>
            </div>
            <div class="farytale-text-row text-right">

                <div class="farytale-clock">
                    <img src="images/farytale-clock-img.png" alt="" />
                </div>

                <div class="farytale-text">
                    <p>за неделю «набегает» <img src="images/210min.png" alt="" /> часа,</p>
                    <p>за месяц – <img src="images/840min.png" alt=""> часов, за год – <img src="images/10080min.png" alt="" /></p>
                </div>

            </div>
            <div class="farytale-text-row">
                <div class="farytale-text">
                    <p>Получается, что <img src="images/7days.png" alt="" /> дней в году вы тратите</p>
                    <p>только на походы по магазинам. Не многовато?</p>
                </div>
            </div>
        </div>

        <div class="farytale-bottom">

            <div class="farytale-bottom-img">
                <div class="farytale-bottom-img-wrap">
                    <img src="images/farytale-woman.png" alt="" />
                </div>
                <div class="farytale-bottom-img-nerws"></div>
            </div>

            <div class="farytale-bottom-text">

                <div class="farytale-bottom-text-main">
                    <h2>Нервные клетки не восстанавливаются</h2>
                    <p>На улице холодно, в магазине жарко. Очереди, хамство, отсутствие сдачи. Потом домой – идете, обвешанная пакетами, проклиная все на свете. Приходите злая, раздраженная. Срываетесь на мужа и детей. Все из-за чего? Из-за лишних, ненужных движений.</p>
                </div>

                <div class="farytale-bottom-text-last">
                    <p>Освободите свое время с онлайн-магазином</p>
                    <p>
                        <span>iMamochki.ru</span>
                    </p>
                </div>

            </div>
        </div>

    </div>

</section>