<section id="farytaleb" class="farytale">

    <div class="mbox">

        <div class="farytale-bottom">

            <div class="farytale-bottom-img">
                <div class="farytale-bottom-img-wrap">
                    <img src="images/farytale-woman.png" alt="" />
                </div>
                <div class="farytale-bottom-img-nerws"></div>
            </div>

            <div class="farytale-bottom-text">

                <div class="farytale-bottom-text-main">
                    <h2>Нервные клетки не восстанавливаются</h2>
                    <p>На улице холодно, в магазине жарко. Очереди, хамство, отсутствие сдачи. Потом домой – идете, обвешанная пакетами, проклиная все на свете. Приходите злая, раздраженная. Срываетесь на мужа и детей. Все из-за чего? Из-за лишних, ненужных движений.</p>
                </div>

                <div class="farytale-bottom-text-last">
                    <p>Освободите свое время с онлайн-магазином</p>
                    <p>
                        <span>iMamochki.ru</span>
                    </p>
                </div>

            </div>
        </div>

    </div>

</section>