<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer">

    <div class="wrap-foot">
        <div class="mbox">
            <div class="conteiner cfix">
                <div class="flower">
                    <p>Остались вопросы? <br/> Звоните. Поможем, расскажем, покажем.</p>
                    <a href="callto:83494939900" class="phone">8 (3494) 93-99-00</a>
                    <a href="#" class="call-back">заказать звонок</a>
                </div>
                <div class="not-flower">
                    <div class="adress">Адрес для самовывоза: Россия, ЯНАО, Новый Уренгой, микрорайон Олимпийский, Торговый комплекс «ОЛИМП»</div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- FOOTER -->

<!-- SCRIPTS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="https://api-maps.yandex.ru/2.0-stable/?load=package.standard&lang=ru-RU" type="text/javascript"></script>
<script type="text/javascript" src="js/validate_script.js" ></script>
<script type="text/javascript" src="js/main.js" ></script>
<!-- /SCRIPTS -->
