<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>
        <div class="header-list">
            <ul id="menu">
                <li data-menuanchor="1"><a href="#1">О сервисе</a></li>
                <li data-menuanchor="2"><a href="#2">Как это работает?</a></li>
                <li data-menuanchor="3"><a href="#3">Преимущества</a></li>
                <li data-menuanchor="4"><a href="#4">Приложение</a></li>
            </ul>
        </div>
        <div class="header-button">
            <a href="#">
                <span>Посмотреть каталог</span>
            </a>
        </div>
    </div>
</header>
<!-- /HEADER -->

