<!-- HEADER -->
<header>
    <div class="mbox">
        <div class="logo">
            <img src="images/logo.png" alt="">
        </div>
        <div class="header-list">
            <ul>
                <li><a href="#">О сервисе</a></li>
                <li><a href="#">Как это работает?</a></li>
                <li><a href="#">Преимущества</a></li>
                <li><a href="#">Приложение</a></li>
            </ul>
        </div>
        <div class="header-button">
            <a href="#">
                <span>Посмотреть каталог</span>
            </a>
        </div>
    </div>
</header>
<!-- /HEADER -->

