<section id="how-it-work">
    <div class="mbox">
        <div class="how-it-work-top cfix">
            <div class="text">
                <p><span>iMamochki.ru</span> – первый и единственный онлайн-магазин бытовой химии в Новом Уренгое. Мы работаем, чтобы вы отдыхали. Признайтесь, у вас и так хватает забот. Хватит тратить драгоценное время на походы по магазинам. Потратьте его на себя и семью! </p>
            </div>
            <div class="people">
                <div class="people-img">
                    <img src="images/people-img.png" alt="">
                </div>
                <div class="people-clock">
                    <img src="images/people-clock.png" alt="">
                </div>
                <div class="people-big-img">
                    <img src="images/people-big-img.png" alt="">
                </div>
            </div>
        </div>

        <div class="title">
            <h2>Как это работает?</h2>
        </div>
        <div class="how-it-work-video">
            <iframe width="730" height="410" src="https://www.youtube.com/embed/8gO_lxThc1M" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</section>