<section id="pay-in-touch">
    <div class="pay-in-wrap">
        <div class="bir1">
            <img src="images/bir1.png" alt="">
        </div>
        <div class="bir2">
            <img src="images/bir2.png" alt="">
        </div>
        <div class="bir3">
            <img src="images/bir3.png" alt="">
        </div>
        <div class="mbox">
            <div class="title-text">
                <h2>Покупайте в одно касание</h2>
            </div>
            <div class="after-text">
                <h5>Установите фирменное приложение и покупайте покупки там, где удобно. Дома, на работе, в гостях. Контролируйте список товаров, отслеживайте статус доставки – ваш магазин теперь всегда под рукой.</h5>
            </div>
            <div class="block-send-to cfix">
                <div class="texter">Скачайте приложение прямо сейчас</div>
                <div class="arrow">
                    <img src="images/arrow-mmm.png" alt="">
                </div>
                <a href="" class="appstore"></a>
                <a href="" class="playmarket"></a>
            </div>
        </div>
    </div>

</section>