<section id="too-mych-pay">
    <div class="mbox">
        <div class="title">Зачем платить больше?</div>
        <div class="text">
            <p>Магазин у дома, ларек, сетевой гипермаркет – все они платят аренду. Поэтому делают наценку – продают товар в 2-3 раза дороже рыночной стоимости. Зачем переплачивать за время, потраченное в очередях? Мы не платим аренду и продаем бытовую химию дешевле, чем в других магазинах. </p>

            <b>Экономьте семейный бюджет вместе с онлайн-магазином</b><br>
            <a href="http://imamochki.ru" target="_blank" >iMamochki.ru </a>
        </div>
    </div>
</section>