<section id="top-block" class="top-block">

    <div class="mbox">

        <div class="top-block-title">Более 3 000 видов бытовой химии в Новом Уренгое</div>
        <div class="top-block-text">
            <p>Вы покупаете,</p>
            <p>мы доставляем –</p>
            <p>без очередей, без нервов</p>
            <p>и прямо до дома</p>
        </div>
        <div class="top-block-button">
            <a href="#" class="button">
                <span>Посмотреть каталог</span>
            </a>
        </div>

        <div class="tob-block-img">

            <div class="top-block-img-wrap">
                <img src="images/top-block-img.png" alt="" />
            </div>

            <div class="top-block-arrows">
                <div class="top-block-arrow arrow-left-top"></div>
                <div class="top-block-arrow arrow-left-bottom"></div>
                <div class="top-block-arrow arrow-right-top"></div>
                <div class="top-block-arrow arrow-right-bottom"></div>
            </div>

        </div>

    </div>

    <div class="top-block-background background-animate"></div>

</section>