<section id="top-block">

    <div class="mbox">

        <div class="top-block-title">Более 3 000 видов бытовой химии в Новом Уренгое</div>
        <div class="top-block-text">Вы покупаете, мы доставляем – без очередей, без нервов и прямо до дома</div>
        <div class="top-block-button">
            <a href="#" class="button">
                <span>Посмотреть каталог</span>
            </a>
        </div>

        <div class="tob-block-img">

            <div class="top-block-img-wrap">
                <img src="images/top-block-img.png" alt="" />
            </div>

            <div class="top-block-arrows">
                <div class="top-block-arrow arrow-left-top"></div>
                <div class="top-block-arrow arrow-left-bottom"></div>
                <div class="top-block-arrow arrow-right-top"></div>
                <div class="top-block-arrow arrow-right-bottom"></div>
            </div>

        </div>

    </div>

</section>